<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Company">
        <id column="companyId" property="companyId" />
        <result column="companyName" property="companyName" />
        <result column="provinceId" property="provinceId" />
        <result column="provinceName" property="provinceName" />
        <result column="cityId" property="cityId" />
        <result column="cityName" property="cityName" />
        <result column="areaId" property="areaId" />
        <result column="areaName" property="areaName" />
        <result column="orgId" property="orgId" />
        <result column="insertTime" property="insertTime" />
        <result column="state" property="state" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        companyId, companyName, provinceId, provinceName, cityId, cityName, areaId, areaName, orgId, insertTime, state, updateTime
    </sql>

</mapper>
